<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration Form</title>
    <link rel="stylesheet" href="{% static 'register/style.css' %}" type="text/css">
</head>
<body>

    <div class="wrapper">
        <div class="title">
            Registration Form
        </div>

        <form class="form" action="" method="post">
            {% csrf_token %}
            <div class="inputfield">
                <label>First Name</label>
                <input type="text" class="input" name="first_name" required>
            </div>

            <div class="inputfield">
                <label>Last Name</label>
                <input type="text" class="input" name="last_name" required>
            </div>

            <div class="inputfield">
                <label>Age</label>
                <input type="number" class="input" min="1" max="100" name="age" required>
            </div>

            <div class="inputfield">
                <label>Bank A/C Number (optional)</label>
                <input type="number" class="input" min="1" name="bank">
            </div>

            <div class="inputfield">
                <label>Gender</label>
                <div class="custom_select">
                    <select name="gender" required>
                        <option value=""></option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
            </div>

            <div class="inputfield">
                <label>Email Address</label>
                <input type="email" class="input" name="email" id="email_id" required>
            </div>

            <p id="email_prompt"></p>

            <div class="inputfield">
                <label>Password</label>
                <input type="password" id="password" class="input" name="password" required>
            </div>

            <div class="inputfield">
                <label>Confirm Password</label>
                <input type="password" id="confirm_password" class="input" name="confirm_password" required>
            </div>

            <div class="inputfield">
                <label>Phone Number 1</label>
                <input id="phone1" type="number" class="input" name="phone_number" required>
            </div>

            <div class="inputfield">
                <label>Phone Number 2 (optional)</label>
                <input id="phone2" type="number" class="input" name="phone_number2">
            </div>

            <div class="inputfield">
                <label>Phone Number 3 (optional)</label>
                <input id="phone3" type="number" class="input" name="phone_number3">
            </div>

            <div class="inputfield">
                <label>House</label>
                <input type="text" class="input" name="house" required>
            </div>

            <div class="inputfield">
                <label>Street</label>
                <input type="text" class="input" name="street" required>
            </div>

            <div class="inputfield">
                <label>Postal Code</label>
                <input type="number" class="input" name="postal_code" required>
            </div>

            <div class="inputfield">
                <label>City</label>
                <input type="text" class="input" name="city" required>
            </div>

            <div class="inputfield">
                <input type="submit" value="Register" class="btn" id="send" onClick="setTimeout(window.close, 10);">
            </div>

        </form>

    </div>

    <script type="text/javascript" src="{% static 'register/script.js' %}"></script>
    <!--
    <script>
        $("#send").click(function () {
        var input = $('#email_id').val();

        $.ajax({
            url: '',
            data: {
            'inputValue': input
            },
            dataType: 'json',
            success: function (data) {
                document.getElementById('email_prompt').innerHTML = data["response"];
            }
      });
    });
    </script> -->

</body>
</html>

