<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration Form</title>

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'register/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'register/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'register/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'register/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'register/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'register/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'register/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'register/css/main.css' %}">
</head>
<body>

    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-20 p-b-30">
        <form class="login100-form validate-form" action="" method="post">
            {% csrf_token %}

            <div class="login100-form-avatar">
						<img src="{% static 'login/images/avatar-01.jpg' %}" alt="AVATAR">
					</div>
            <span class="login100-form-title p-t-20 p-b-45">
						Create an account
            </span>

            <div class="wrap-input100 validate-input m-b-10" data-validate = "First Name is required">
						<input class="input100" type="text" name="first_name" placeholder="First Name" {% if data %} value="{{ data.first_name }}" {% endif %}>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>


            <div class="wrap-input100 validate-input m-b-10" data-validate = "Last Name is required">
						<input class="input100" type="text" name="last_name" placeholder="Last Name" {% if data %} value="{{ data.last_name }}" {% endif %}>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user"></i>
						</span>
					</div>


            <div class="wrap-input100 validate-input m-b-10" data-validate = "Age is required">
						<input class="input100" type="number" name="age" min="1" max="120" placeholder="Age"{% if data %} value="{{ data.age }}" {% endif %}>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-child"></i>
						</span>
					</div>


            <div class="wrap-input100 m-b-10">
						<input class="input100" min="1" type="number" name="bank" placeholder="Bank A/C Number (Optional)"{% if data %} value="{{ data.bank }}" {% endif %}>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-bitcoin"></i>
						</span>
					</div>


            <div class="wrap-input100 validate-input m-b-10">
                <div class="custom_select">
                    <select class ="input100" name="gender"  required>
                        <option value="">Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>

                    </select>
                    <span class="symbol-input100">
							<i class="fa fa-smile-o"></i>
						</span>

                </div>
            </div>


            <div class="wrap-input100 validate-input m-b-10" data-validate = "Email is required">
						<input class="input100" type="text" name="email" placeholder="Email" {% if data %} value="{{ data.email }}" {% endif %}>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope"></i>
						</span>
					</div>

            {% if email_msg %}
                <p id="email_same" class="email_same">{{ email_msg }}</p>
            {% endif %}

            <div class="wrap-input100 validate-input m-b-10" data-validate = "Password is required">
						<input id="password" class="input100" type="password" minlength="8" name="password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user-secret"></i>
						</span>
					</div>


            <div class="wrap-input100 validate-input m-b-10" data-validate = "Password Confirmation is required">
						<input id="confirm_password" class="input100" type="password" name="confirm_password" placeholder="Confirm Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user-secret"></i>
						</span>
					</div>

            <div class="wrap-input100 validate-input m-b-10" data-validate = "Phone No is required">
						<input id="phone1" max="1999999999" min="1000000000" class="input100" type="number" name="phone_number" placeholder="Phone Number" {% if data %} value="{{ data.phone_number }}" {% endif %}>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-mobile"></i>
						</span>
					</div>

            {% if phone1_msg %}
                <p id="email_same" class="email_same">{{ phone1_msg }}</p>
            {% endif %}

            <div class="wrap-input100 m-b-10">
						<input id="phone2" max="1999999999" min="1000000000" class="input100" type="number" name="phone_number2" placeholder="Phone No 2 (optional)" {% if data %} value="{{ data.phone_number2 }}" {% endif %}>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-mobile-phone"></i>
						</span>
					</div>

            {% if phone2_msg %}
                <p id="email_same" class="email_same">{{ phone2_msg }}</p>
            {% endif %}

            <div class="wrap-input100 m-b-10">
						<input id="phone3" max="1999999999" min="1000000000" class="input100" type="number" name="phone_number3" placeholder="Phone No 3 (optional)" {% if data %} value="{{ data.phone_number3 }}" {% endif %}>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-mobile-phone"></i>
						</span>
					</div>

            {% if phone3_msg %}
                <p id="email_same" class="email_same">{{ phone3_msg }}</p>
            {% endif %}

            <div class="wrap-input100 validate-input m-b-10" data-validate = "House No is required">
						<input class="input100" type="text" name="house" placeholder="House No" {% if data %} value="{{ data.house }}" {% endif %}>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-home"></i>
						</span>
					</div>

            <div class="wrap-input100 validate-input m-b-10" data-validate = "Street is required">
						<input class="input100" type="text" name="street" placeholder="Street" {% if data %} value="{{ data.street }}" {% endif %}>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-road"></i>
						</span>
					</div>

            <div class="wrap-input100 validate-input m-b-10" data-validate = "Postal Code is required">
						<input class="input100" type="number" name="postal_code" placeholder="Postal Code" {% if data %} value="{{ data.postal_code }}" {% endif %}>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-address-book-o"></i>
						</span>
					</div>

            <div class="wrap-input100 validate-input m-b-10" data-validate = "City is required">
						<input class="input100" type="text" name="city" placeholder="City" {% if data %} value="{{ data.city }}" {% endif %}>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-building"></i>
						</span>
					</div>


            <div class="container-login100-form-btn p-t-10">
						<button class="login100-form-btn">
							REGISTER
						</button>
					</div>


            <div class="text-center w-full p-t-25 p-b-200">
						<a href="{% url 'login' %}" class="txt1">
                            Sign Into your account
						</a>
					</div>


                </form>
            </div>
		</div>
	</div>

<script src="{% static 'register/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'register/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'register/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'register/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'register/js/main.js' %}"></script>

</body>
</html>

